@use "index";

.imgSlider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.userImg {
  background-image: url("icons/pattern-bg.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;

  width: 100vw;
  height: 55vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  img {
    width: 23rem;
    border-radius: 0.5rem;
    box-shadow: 0px 20px 20px 0px #00000021;
  }
}

.sliderButtons {
  position: absolute;
  bottom: 8%;

  .sliderBtn {
    border: none;
    background: #fff;

    width: 4rem;
    height: 3.5rem;

    cursor: pointer;

    transition: all 0.2s ease;

    img {
      width: 0.9rem;
      height: auto;
    }
  }

  .sliderBtn:hover {
    background: rgb(243, 243, 243);
  }

  .sliderBtn:active {
    background-color: rgb(126, 126, 126);
  }

  .sliderBtn:nth-of-type(1) {
    border-radius: 5rem 0 0 5rem;
  }

  .sliderBtn:nth-of-type(2) {
    border-radius: 0 5rem 5rem 0;

    img {
      width: 1rem;
      height: auto;
    }
  }
}

// border-radius: 0 5rem 5rem 0;

.testimonial {
  background-image: url(icons/pattern-quotes.svg), url(icons/pattern-curve.svg);
  background-repeat: no-repeat;
  background-size: 15%, 60%;
  background-position: top, left bottom;

  width: 100vw;
  height: 45vh;

  p {
    font-size: 1.9rem;
    font-weight: 300;
    text-align: center;
    margin: 1.8rem;
    color: index.$dark-blue;
  }

  h1 {
    text-align: center;
    color: index.$dark-blue;
    font-weight: 700;
  }

  h2 {
    text-align: center;
    color: index.$grayish-blue;
    font-weight: 500;
  }
}
